/* ==========================================================================
   Fonts
   ========================================================================== */

/* ==========================================================================
   Whack-a-Trump
   ========================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0 auto;
  width: 320px;
}

main {
  padding: 0 15px;
}

.hide {
  display: none;
}

dl {
  margin: 0;
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid li {
  float: left;
  margin-bottom: 15px;
  width: calc(100%/3);
}

.grid span {
  background: #000;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
}