/* ==========================================================================
   Fonts
   ========================================================================== */

/* ==========================================================================
   Whack-a-Trump
   ========================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  background: #F8F8FF;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 auto;
  width: 320px;
}

main {
  padding: 0 15px;
}

.hide {
  display: none;
}

h1 {
  color: #920005;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

dl {
  color: #013F8A;
  font-size: 16px;
  margin: 0 0 15px;
  text-transform: uppercase;
}

dl:after {
  clear: both;
  content: "";
  display: table;
}

dt,
dd {
  float: left;
}

dt {
  font-weight: bold;
  margin-right: 10px;
}

dd {
  margin: 0;
  min-width: 20px;
}

.game-time {
  float: left;
}

.game-score {
  float: right;
}

.game-buttons {
  clear: both;
}

button {

}

#trumps {
  list-style: none;
  margin: 0;
  padding: 0;
}

#trumps:after {
  clear: both;
  content: "";
  display: table;
}

#trumps li {
  float: left;
  margin-bottom: 15px;
  width: calc(100%/3);
}

#trumps span {
  background: #000;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
}

#trumps span.up {
  background: green;
  cursor: pointer;
}

#trumps span.hit {
  background: red;
  cursor: default;
}